* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.table-container {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  display: flex;
  flex-wrap: wrap;
  background-color: #bcaba1;
  border-radius: 5px;
  padding: 5px;
}

.cell {
  width: 90px;
  height: 90px;
  margin: 5px;
  border-radius: 5px;
  background-color: #d6cdc4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block {
  width: 90px;
  height: 90px;
  border-radius: 5px;
  font-size: 25px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}